body {
     padding-left: 25%;
     background-color: mintcream;
}
h1 {
	color: red;
    font: bold 20pt Arial; 
    background-color: ghostwhite;
    border: 2pt solid aqua;
    display: inline-block;
}
h3 {
	color: blue;
     font: bold 15pt Arial; 

}
th {
    font: bold 10pt Arial; 
}
td {
    color: red; 
}
 li {
    list-style-type: none;
 }
 img {
 	width: 50%;
 }
a {
	color: orange;
}
a:active {
	color: red;
}
.text-green {
	color: green;
}
div {
	flex-grow: 3;
}
button {
	background-color: blueviolet;
}
button:hover {
	background-color: darkblue;
}
button:active {
	background-color: orange;
}